/*import local font*/
@font-face {
  font-family: 'MatatasOne';
  src: url('fonts/matatas_one.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



html, body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  color: white;
  overflow-x: hidden;
  /*set default font*/
  font-family: 'Poppins', sans-serif;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

* {
  margin: 0;
  padding: 0;
}

/* #logo {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("assets/Triple V Logo Sharp.png");
  background-size: contain;
  mix-blend-mode: difference;
} */

.sec1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #F3BE00;
}

.sec2 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: #F1F1F1;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.sec2-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 30px;
  height: 250px;
  width: 450px;
}

.sec2-right {
  position: relative;
  display: flex;
  height: 250px;
  width: 500px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
}

/* #sec2-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#sec2-hand {
  position: absolute;
  top: 126px;
  left: 142px;
}

#sec2-line {
  position: absolute;
  top: 148px;
  left: 151px;
  width: 205px;
  height: 8px;
  background-color: black;
}

#sec2-words {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 50px;
}

.sec3 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: #F1F1F1;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.sec3-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 250px;
  width: 450px;
}

.sec3-right {
  position: relative;
  display: flex;
  padding: 60px;
  height: 250px;
  width: 450px;
  align-items: center;
}

#sec3-container {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

#sec3-words {
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sec3-cross {
  position: absolute;
  top:50%;
  left: 50%;
  width: 150px;
}

.sec4 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: #0D005C;
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sec4-viewer{
  position: relative;
  /* height: 391px; */
  width: 90vw;

  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  /* background-image: url(assets/anitype.png);
  background-repeat: no-repeat;
  background-size: auto 391px;
  background-position: 0px 0px; */
}

#sec4-content{
  position: relative;
  /* height: 391px; */
  padding: 0px 30px;
}

.sec5 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: #990000;
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 60px;
  text-align: center;
  padding-top: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sec5-left {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.sec5-right {
  position: relative;
  display: flex;
  flex: 1;
  padding: 60px;
  z-index:2;
}

#sec5-viewer{
  position: relative;
  /* height: 391px; */
  width: 150px;
}

#sec5-sign{
  position: absolute;
  transform: translate(80%, -40%) rotateZ(350deg);
  /* height: 391px; */
  width: 100px;
}

.sec6 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: #F1F1F1;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.sec6-left {
  position: relative;
  display: flex;
  padding: 20px;
  height: 450px;
  width: 450px;
  align-items: center;
}

.sec6-right {
  position: relative;
  display: flex;
  padding: 20px;
  height: 400px;
  width: 300px;
  align-items: center;
  justify-content: center;
}

#sec6-info {
  white-space: pre-wrap;
}

.sec7 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color:#F3BE00;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.sec7-image {
  position: relative;
  /* left: 0px; */
  width: 100vw;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  margin-bottom: 40px;
}

.sec7-text {
  position: relative;
  margin: 60px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  /* background-color: white; */
}

.sec7-border {
  /* margin-top: 20px; */
  position: relative;
  background-image: url(assets/wood-pattern.png);
  background-repeat: repeat-x;
  width: 100vw;
  height: 40px;
  background-size: calc(232px / 4) calc(166px / 4);
}

.sec8 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: #F1F1F1;
  color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  
  /* padding-top: 30px;
  padding-bottom: 0px; */
  flex-wrap: wrap;
  justify-content: center;
}

.sec8-content {
  padding: 60px 200px;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  text-align: center;
}

.sec8-symbols {
  position: absolute;
  width: auto;
  height: auto;
  justify-content: center;
  height: 30%;
}

.sec9 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: #0D005C;
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  overflow-x: hidden;
  
  padding: 60px;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.sec9-title {
  font-weight: bold;
  font-size: 30px;
}

.sec9-baybayin {
  font-family: 'MatatasOne';
  font-size: 60px;
}


.footer {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color:#F3BE00;
  color: rgb(0, 0, 0);
  padding: 60px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroller-footer {
  position: absolute;
  z-index:2;
  outline: 1px solid transparent;
  will-change: transform;
  /* background-color: none; */
  top: -55%;
  left: 0%;
  width: 100vw;
  height: 100px;
  backface-visibility: hidden;
  background-image: url("assets/bay_filled.svg");
  background-repeat: repeat-x;
  background-position: left;
  background-size: 853px;
  background-position-x: 0px;
}

.title-parent {
  background-color: #F1F1F1;
  /* display: flex;
  justify-content: center; */
}

.title {
  position: relative;
  align-self: flex-start;
  display:block;
  width: auto;
  height: auto;
  box-sizing: content-box;
  color: black;
  padding: 20px 60px 20px 60px;
}

.title-main {
  position: relative;
  font-size: 60px;
  font-weight: bold;
}

.title-baybayin {
  position: absolute;
  top:40%;
  right: 0%;
  font-family: 'MatatasOne';
  font-size: 40px;
  color: #F3BE00;
}



.sec-nil {
  position: relative;
  width: auto;
  height: auto;
  background-color: #990000;
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0px;
  padding-bottom: 40px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.scrollerbody {
  position: relative;

  outline: 1px solid transparent;
  will-change: transform;
  background-color: none;

  width: 100vw;
  height: 100px;
  backface-visibility: hidden;
  background-image: url("assets/bay.svg");
  background-repeat: repeat-x;
  background-position: left;
  background-size: 853px;
  background-position-x: 0px;
  transform: rotateZ(354deg);
}

.scroller {
  position: absolute;

  outline: 1px solid transparent;
  will-change: transform;
  /* background-color: none; */

  width: 100vw;
  height: 103px;
  backface-visibility: hidden;
  background-image: url("assets/bay.svg");
  background-repeat: repeat-x;
  background-position: left;
  background-size: 863px;
  background-position-x: 0px;
  opacity: 50%;
}

#sec1-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 30px;
  width: 50vw;
  height: 30vh;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#sec1-title {
  
  font-family: 'MatatasOne';
  font-size: 100px;
  font-weight: bold;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.header-content {
  width: 100vw;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.baybayin-circle {
  position: absolute;
  width: 500px;
  opacity: 20%;
  color: #ffffff;
  pointer-events: none;
}

#map-m1, #map-m2, #map-m3, #map-m4, #map-m5, #map-m6, #map-m7, #map-m8, #map-m9, #map-m10  {
  fill: #acacac;
}

#map-l1, #map-l2, #map-l3, #map-l4, #map-l5, #map-l6, #map-l7, #map-l8, #map-l9, #map-l10, #map-l11, #map-l12 {
  fill: #acacac;
}











